* {
  font-weight: 300;
  text-align: center;
}

body {
  background-color: aqua;
  color: gray;
}

.list-area {
 
  margin: 50px 120px 0 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 0 0 80px;
}

.blog-card {
  border-radius: 15px;
  margin: 50px;
  background-color: Blue;
  width: 15vw;
  height: 10vw;
  color: #776274;
}



button {
  height: 50px;
  width: 120px;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 15px;
  color: white;
  background-color: blue;
  font-size: 1em;
}

button a {
  text-decoration: none;
  color: white;
}



.header {
  padding-bottom: 30px;
  text-align: center;
}


.blog-form {
  
  width: 100vw;
}

.blog-area {
  display: flex;
  justify-content: center;
}

.navi-bar {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navi-bar a:hover {
  color: blue;
}

.bloglist-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}
